* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafc;
  width: 100vw;
  height: 100vh;
  color: #777;
  display: flex;
  justify-content: center;
}

p {
  font-weight: 200;
  font-size: 18px;
  color: brown;
}

h1 {
  font-weight: 700;
  font-size: 25px;
  color: blue;
}

.app {
  width: 85vw;
  margin: 0%;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.search-result {
  margin-top: 30px;
  overflow: auto;
}

.surprise {
  background-color: darkblue;
  color: white;
  border-radius: 18px;
  font-weight: 600;
  padding: 8px 16px;
  margin: 0 0 2px 5px;
  border: none;
  cursor: pointer;
}

.input-container {
  width: 80%;
  display: flex;
  border: solid 0.5px #cacaca;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
  overflow: visible;
}

.input-container input {
  border: none;
  padding: 13px 14px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  width: 90%;
  font-weight: 200;
}

.input-container input::placeholder {
  color: #cacaca;
  font-weight: 400;
}

.input-container button {
  min-width: 10%;
  border: none;
  border-left: 1px solid #cacaca;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.input-container button:active {
  background-color: #cacaca;
}

.answer {
  padding: 13px 14px;
  border: solid 0.5px black;
  background-color: turquoise;
  margin: 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  color: black;
  text-align: justify;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
}
